<nav id="topNav" class="navbar navbar-default" role="navigation" style="margin-bottom:0;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">折叠导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ home_url }}">先声网</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{ league_url }}" target="_blank">活动平台</a></li>
          <li><a href="{{ laf_url }}" target="_blank">失物招领</a></li>
          <li><a href="{{ seu_wiki_url }}" target="_blank">东大wiki</a></li>
{#          <li><a href="{{ wiki_url }}" class="developing" target="_blank">校园指南</a></li>#}
          <li><a href="{{ military_url }}" target="_blank">军训专题</a></li>
{#          <li><a href="{{ radio_url }}">东大电台</a></li>#}
{#          <li><a href="{{ artical_url }}" class="developing">艺文频道</a></li>#}
{#          <li><a href="{{ market_url }}" class="developing" target="_blank">二手市场</a></li>#}

          <li><a href="{{ aboutus_url }}" target="_blank">关于我们</a></li>
        </ul>
      <!--
         <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">个人<p class="new-message-all">3</p><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">个人空间<p class="new-message-single">1</p></a></li>
                  <li><a href="#">二手市场<p class="new-message-single">2</p></a></li>
                  <li><a href="#">其他<p class="new-message-single">33</p></a></li>
                  <li class="divider"></li>
                  <li><a href="#">登出</a></li>
                </ul>
              </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">登录<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">个人登录</a></li>
                  <li><a data-toggle="modal" href="#loginModal">社团登录</a></li>
                </ul>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">社团<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">发布活动</a></li>
                  <li><a href="#">上传照片</a></li>
                  <li><a href="#">修改社团信息</a></li>
                  <li class="divider"></li>
                  <li><a href="#">登出</a></li>
                </ul>
              </li>
          </ul>
          -->
  </div>
  </div>
</nav>