<!DOCTYPE html>
<html>
  <head>
    <title>先声网</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset='utf-8'>
    <link href="{{ STATIC_URL }}Css/back-to-top/backtotop.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}Css/bootstrap/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}Css/bootstrap/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}Css/lunbo/style.css" />
    <link href="{{ STATIC_URL }}Css/herald_index.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}Css/custom.css">
    <!--[if lt IE9]> 
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".subnav">



    {% include "header.html" %}

    {% include "wrapper.html" %}

    {% include "tab.html" %}

    {% include "mod_herald_hot.html" %}

{#    {% include "mod_league.html" %}#}
{##}
{#    {% include "mod_wiki.html" %}#}

    {% include "footer.html" %}

    {% include "login.html" %}


    <script src="{{ STATIC_URL }}Js/bootstrap/jquery.js"></script>
    <script src="{{ STATIC_URL }}Js/respond.min.js"></script>
    <script src="{{ STATIC_URL }}Js/bootstrap/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}Js/back-to-top/backtotop.js"></script>
    <script src="{{ STATIC_URL }}Js/herald_index.js"></script>
    <!--[if IE 6]>
    <script src="{{ STATIC_URL }}Js/lunbo/DDPngMin.js"></script>
    <script>DD_belatedPNG.fix('.da-img img');</script>
    <![endif]-->
    <script src="{{ STATIC_URL }}Js/lunbo/modernizr.custom.28468.js"></script>
    <script src="{{ STATIC_URL }}Js/lunbo/jquery.cslider.js"></script>
    <script src="{{ STATIC_URL }}JS/custom.js"></script>
    <script src="{{ STATIC_URL }}custom_js/index.js"></script>
    <script type="text/javascript">
      $(function(){
      $('#da-slider').cslider(
      {           autoplay  : true,
      bgincrement : 450
      });
      });
    </script>


  </body>
</html>