<section id="wiki">
  <div class="container">
    <div class="row">
      <div id="wikiTitle">
        <h4 class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-lg-2 col-md-2 col-sm-2 section-title" id="baike">百科</h4>
        <div class="col-sm-offset-8 col-md-offset-8 col-lg-offset-8"><a href="">更多...</a></div>
        <div class="clearfix"></div>
      </div>
      <div id="wikiMain" class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-lg-7 col-md-7 col-sm-7 ">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <!-- ***Item Template********* -->
              <div class="item active">
                <div class="carousel-content">
                  <a href="{{ wiki_rec_entry_half_url }}" class="col-lg-6 col-md-6 col-sm-6 "><img src="{{ rec_entry.img_href }}" alt="" class=" img-responsive"></a>
                  <div class="col-lg-6 col-md-6  col-sm-6">
                    <a href=""><h5><b>{{ rec_entry.title }}</b></h5></a>
                    <p><a href="{{ wiki_rec_entry_half_url }}">{{ rec_entry.content }}</a></p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <!-- ***End Item Template********* -->
            </div>
            <a class="carousel-control" href="#carousel-example-generic" data-slide="prev"  style="left:0;right:auto;">
              <span class="glyphicon glyphicon-chevron-left" style="left:-1em;"></span>
            </a>
            <a class="carousel-control" href="#carousel-example-generic" data-slide="next" style="right:0;left:auto;">
              <span class="glyphicon glyphicon-chevron-right" style="right:-1.5em;"></span>
            </a>
        </div>
        <div class="col-lg-6 col-md-6  col-sm-6 news">
          <h5>热点问题</h5>
            {% for ques in hot_ques %}
                <li><a href="http://herald.seu.edu.cn/xyzn/faq/question/{{ ques.id }}">{{ ques.title }}</a></li>
            {% endfor %}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 news">
          <h5>近期提问</h5>
            {% for ques in new_ques %}
                <li><a href="{{ wiki_ques_half_url }}{{ ques.id }}">{{ ques.title }}</a></li>
            {% endfor %}
        </div>
      </div>
      <div id="wikiRight" class="col-lg-4 col-md-4 col-sm-4">
        <h5>热搜词条</h5>
        <div>
            {% for tip in hot_tips %}
                <span class="label label-primary"><a href="{{ wiki_tip_half_url }}{{ tip.id }}">{{ tip.title }}</a></span>
            {% endfor %}
            <!--
          <span class="label label-success"><a href="">热搜词条</a></span>
          <span class="label label-warning"><a href="">热搜词条</a></span>
          <span class="label label-default"><a href="">热搜词条</a></span>
            -->
        </div>
      </div>
    </div>
  </div>
</section>