<section id="wiki">
  <div class="container">
    <div class="row">
      <div id="wikiTitle">
        <h4 class="col-lg-offset-1 col-lg-2 section-title">百科</h4>
        <div class="col-lg-offset-8"><a href="">更多...</a></div>
        <div class="clearfix"></div>
      </div>
      <div id="wikiMain" class="col-lg-offset-1 col-lg-7">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <!-- ***Item Template********* -->
              <div class="item active">
                <div class="carousel-content">
                  <a href="" class="col-lg-6"><img src="{{ STATIC_URL }}Images/4.png" alt=""></a>
                  <div class="col-lg-6">
                    <a href=""><h5><b>东南大学图书馆</b></h5></a>
                    <p><a href="">图书馆现有馆舍面积9.35万㎡，馆藏文献有306万多册，以土木建筑、电子信息、机械动力、生物医学等学科文献为主，兼及理科、人文社科、管理学科等。各个校区分馆实行统一的开放制度，每周开馆时间累计超过92小时，主要阅览室从早上8时连续开放至晚间10时。目前，全馆实行统一领导、统一管理、统一布局，对于网络集成管理、馆藏文献数据库和图书分类等系统也实现了统一组织的运作机制。</a></p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>./
              <!-- ***End Item Template********* -->
            </div>
            <a class="carousel-control" href="#carousel-example-generic" data-slide="prev"  style="left:0;right:auto;">
              <span class="glyphicon glyphicon-chevron-left" style="left:-1em;"></span>
            </a>
            <a class="carousel-control" href="#carousel-example-generic" data-slide="next" style="right:0;left:auto;">
              <span class="glyphicon glyphicon-chevron-right" style="right:-1.5em;"></span>
            </a>
        </div>
        <div class="col-lg-6 news">
          <h5>热点问题</h5>
          <li><a href="">先生热点先生热点先生热点先生热点先生热点先生</a></li>
          <li><a href="">先生热点先生热点先生热点先生热点先生热点先生</a></li>
          <li><a href="">先生热点先生热点先生热点先生热点先生热点先生</a></li>
          <li><a href="">先生热点先生热点先生热点先生热点先生热点先生</a></li>
          <li><a href="">先生热点先生热点先生热点先生热点先生热点先生</a></li>
        </div>
        <div class="col-lg-6 news">
          <h5>近期提问</h5>
          <li><a href="">先生热点先生热点先生热点先生热点先生热点先生?</a></li>
          <li><a href="">先生热点先生热点先生热点先生热点先生热点先生?</a></li>
          <li><a href="">先生热点先生热点先生热点先生热点先生热点先生?</a></li>
          <li><a href="">先生热点先生热点先生热点先生热点先生热点先生?</a></li>
          <li><a href="">先生热点先生热点先生热点先生热点先生热点先生?</a></li>
        </div>
      </div>
      <div id="wikiRight" class="col-lg-4">
        <h5>热搜词条</h5>
        <div>
          <span class="label label-primary"><a href="">热搜词条</a></span>
          <span class="label label-primary"><a href="">热搜词条</a></span>
          <span class="label label-success"><a href="">热搜词条</a></span>
          <span class="label label-warning"><a href="">热搜词条</a></span>
          <span class="label label-success"><a href="">热搜词条</a></span>
          <span class="label label-default"><a href="">热搜词条</a></span>
          <span class="label label-primary"><a href="">热搜词条</a></span>
          <span class="label label-primary"><a href="">热搜词条</a></span>
          <span class="label label-success"><a href="">热搜词条</a></span>
          <span class="label label-default"><a href="">热搜词条</a></span>
          <span class="label label-warning"><a href="">热搜词条</a></span>
          <span class="label label-default"><a href="">热搜词条</a></span>
          <span class="label label-success"><a href="">热搜词条</a></span>
        </div>
      </div>
    </div>
  </div>
</section>