<section id="activity" class="">
  <div class="container">
    <div class="row ">
      <div id="activityTitle">
        <h4 class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-lg-2 col-md-2 col-sm-2 section-title" id="huodong">活动</h4>
        <div class="col-sm-offset-7 col-md-offset-7 col-lg-offset-7">
          <ul class="list-inline">
            <li><a href="">全部</a></li>
            <li><a href="">讲座</a></li>
            <li><a href="">话剧</a></li>
            <li><a href="">晚会</a></li>
            <li><a href="">竞赛</a></li>
            <li><a href="">体育</a></li>
            <li><a href="">更多分类...</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <div id="activityMain" class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-lg-7 col-md-7  col-sm-7 ">
          {% for acti in new_acti %}
              <div class="item col-lg-3 col-md-3  col-sm-3">
              <a href=""><img src="{{ acti.post_add }}" alt="" class="img-responsive"></a>
              <div class="">
                <a href="{{ league_detail_half_url }}{{ acti.id }}">{{ acti.name }}</a>
              </div>
              </div>
          {% endfor %}

        <div class="pull-right"><a href="">更多...</a></div>
        <div class="clearfix"></div>
        <h5>社团相册<small>记录社团活动的点点滴滴</small></h5>
        <div class="album">
            {% for pic in album %}
                <a href="" class="col-lg-4 col-md-4  col-sm-4"><img src="{{ pic.cover_address }}" alt=""  class="img-responsive"></a>
            {% endfor %}
        </div>
      </div>
      <div id="activityRight" class="col-lg-4 col-md-4 col-sm-4" >
        <h5>热门活动推荐</h5>
          {% for acti in hot_acti %}
              <div class="item">
              <img src="{{ acti.post_add }}" alt="" class="col-lg-3 col-md-3 col-sm-3 img-responsive">
              <div class="col-lg-9 col-md-9 col-sm-9 ">
                <div><a href="">{{ acti.name }}</a></div>
                <div><small>{{ acti.hold_time }}</small></div>
                <div><small>{{ acti.place }}</small></div>

              </div>
               <div class="clearfix"></div>
            </div>
          {% endfor %}

        <div class="pull-right"><a href="">更多...</a></div>
      </div>
    </div>
  </div>
</section>