  <div class="modal fade" id="androidmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">下载东大校园助手——先声</h4>
      </div>
      <div class="modal-body">
        <p>直接下载：</p><a href="http://herald.seu.edu.cn">点击下载</a>
        <p>手机下载：</p>
          <div class="row-fluid">
              <img height="200px" width="200px" src="{{ STATIC_URL }}Images/wechat.jpg">
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->