  <div class="modal fade" id="chatsmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">关注小猴偷米</h4>
      </div>
      <div class="modal-body">
        <p>打开微信、易信，分别扫描二维码或直接搜索“小猴偷米”</p>
          <div class="row-fluid">
              <img height="400px" width="540px" src="{{ STATIC_URL }}Images/chats.jpg">

{#              <div style="width: 228px;">#}
{#                  <img height="228px" width="228px" src="{{ STATIC_URL }}Images/yichat.png">#}
{#                  <span>易信</span>#}
{#              </div>#}
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

