<section id="tab">
    <div class="daohang row col-lg-12 col-md-12 col-sm-12" id="nav" style="margin-right:0px;margin-left:0px;">
        <ul class="col-lg-12 col-md-12 col-sm-12  text-center"  >
           <li class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-lg-2 col-md-2 col-sm-2" id="nav_redian"><i class="icon-star icon-white"></i> 先声热点</li>
           <li class="col-lg-2 col-md-2 col-sm-2" id="nav_huodong"><i class="icon-info-sign icon-white"></i> 活动信息</li>
           <li class="col-lg-2 col-md-2 col-sm-2" id="nav_baike"><i class="icon-gift icon-white"></i>东大百科</li>
           <li class="col-lg-2 col-md-2 col-sm-2" id="nav_shiwu"><i class="icon-briefcase icon-white"></i> 失物招领</li>
        </ul>
    </div>
</section>