<section id="wrapper" class="">
        <div class="">
          <div id="da-slider" class="da-slider" style="margin:0;">
            <div class="da-slide">
              <h2>先声知道</h2>
              <p>让你了解更多</p>
              <a href="#" class="da-link">浏览更多</a>
              <div class="da-img"><img src="{{ STATIC_URL }}Images/lunbo/1.png" alt="image01" class="img-responsive"/></div>
            </div>
            <div class="da-slide">
              <h2>先声活动</h2>
              <p>活动信息平台，有社团活动，享受大学生活！！！！！！</p>
              <a href="#" class="da-link">浏览更多</a>
              <div class="da-img"><img src="{{ STATIC_URL }}Images/lunbo/2'.png" alt="image01"  class="img-responsive"/></div>
            </div>
            <div class="da-slide">
              <h2>安卓助手</h2>
              <p>就是他</p>
              <a href="#" class="da-link">立即下载</a>
              <div class="da-img"><img src="{{ STATIC_URL }}Images/lunbo/3.png" alt="image01" class="img-responsive" /></div>
            </div>
            <div class="da-slide">
              <h2>二手市场</h2>
              <p>一律两元，一律两元！</p>
              <a href="#" class="da-link">浏览更多</a>
              <div class="da-img"><img src="{{ STATIC_URL }}Images/lunbo/4.png" alt="image01"  class="img-responsive"/></div>
            </div>
            <nav class="da-arrows">
              <span class="da-arrows-prev"></span>
              <span class="da-arrows-next"></span>
            </nav>
          </div>
        </div>
</section>